.LoggedInUserPage {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .LoggedInUserPage h2 {
    margin-top: 0;
  }
  
  .LoggedInUserPage ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .LoggedInUserPage li {
    margin-bottom: 20px;
  }
  
  .LoggedInUserPage li ul {
    margin-left: 20px;
  }
  
  .LoggedInUserPage li li {
    margin-bottom: 10px;
  }
  
  .payment-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 20px;
  }
  
  .payment-container h3 {
    margin-top: 0;
  }
  
  .payment-container p {
    margin-bottom: 10px;
  }
  
  .payment-container img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .payment-container button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .payment-container button:hover {
    background-color: #3e8e41;
  }